.defaultSquares {
  float: left;
  width: 3%;
  height: 8%;
  display: block;
}
.blackSquares {
  background-color: black;
}
.redSquares {
  background-color: red;
}
.blueSquares {
  background-color: blue;
}


#drawingBoard {
  width: 100%;
  height: 100%;
  display: block;
    max-height: 200px;
    height: 400px;
}
